@font-face {
        font-family: Iranian Sans;
        src: url("../Font/Iranian\ Sans.ttf") format(".ttf");
        font-style: normal;
}

body {
        font-family: Iranian Sans, sans-serif !important;
        overflow-x: hidden;
}
/* Utilities */
h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1,
p {
        line-height: 1.8 !important;
}
.hover-grow {
        transition: all 0.3s ease;
}
.hover-grow:hover {
        transform: scale(1.08);
}
/*  Header  */

.navbar {
        transition: all ease-in-out 0.3s;
}
.header-scrolled {
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.7);
}
/* intro */
@media screen and (max-width: 992px) {
        .navbar {
                background-color: #fff;
        }
}

.intro {
        width: 100%;
        height: 100vh;
        background: url("../images/intro/intro-bg.png") top center no-repeat;
        background-size: cover;
}
/* About */
.content {
        background-color: #f6f9ff;
        padding: 4rem;
}

.features i.bx {
        color: #3498db;
        font-size: 4rem;
}
.counter-box {
        /* margin-right: 0.05rem; */
        box-shadow: 0rem 0 1rem rgba(0, 0, 0, 0.1);
}

.services .service-box {
        padding: 6rem 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: 0rem 0 3rem rgba(0, 0, 0, 0.1);
        transition: all ease 0.3s;
        border-radius: 0.5rem;
        color: rgb(24, 24, 24);
        cursor: default;
}

.services .service-box p {
        font-size: 0.75rem;

        font-weight: 400;
}
.services .service-box a {
        text-decoration: none;
        cursor: pointer;
        font-size: 1.1rem;
}
.services .service-box:hover p,
.services .service-box:hover h3,
.services .service-box:hover a span,
.services .service-box:hover a i {
        color: #f6f9ff;
}

.services .service-box i.icon {
        font-size: 3rem;
        padding: 1rem;
        border-radius: 0.5rem;
}
.services .service-box.red {
        border-bottom: 0.25rem solid #e74c3c;
}

.services .service-box:hover.red {
        background-color: #e74c3c;
}
.services .service-box.red i.icon {
        color: #e74c3c;
        background-color: #f6988ebc;
}

.services .service-box.red a {
        color: #e74c3c;
}
.services .service-box.blue {
        border-bottom: 0.25rem solid #2980b9;
}
.services .service-box.blue i.icon {
        color: #2980b9;
        background-color: #a6cbe4;
}
.services .service-box.blue:hover {
        background-color: #2980b9;
}
.services .service-box.blue a {
        color: #2980b9;
}
.services .service-box.green {
        border-bottom: 0.25rem solid #27ae60;
}
.services .service-box.green i.icon {
        color: #27ae60;
        background-color: #8ce3b0;
}
.services .service-box.green:hover {
        background-color: #27ae60;
}
.services .service-box.green a {
        color: #27ae60;
}
.services .service-box:hover i.icon {
        background-color: #f6f9ff;
}
.pricing .card-shadow {
        box-shadow: 0rem 0 3rem rgba(0, 0, 0, 0.1);
        border-radius: 0.5rem;
        padding: 1rem 0;
        transition: all ease-in-out 0.3s;
        cursor: pointer;
}
.pricing .card-shadow:hover {
        transform: scale(1.1);
        box-shadow: 0rem 0 3rem rgba(0, 0, 0, 0.2);
}
.pricing .card-shadow .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
}
.contact .box-info {
        background-color: #a6cbe426;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        padding: 1rem;
}
.contact .box-info i.bx {
        font-size: 2rem;
}

.contact .conatct-form {
        background-color: #a6cbe426;
        border-radius: 0.5rem;
}
footer .social i.bx {
        font-size: 1.8rem;
        color: #2980b9;
        transition: all linear 0.3s;
}
footer .social i.bx:hover {
        color: #333;
}
footer .footer-links a {
        text-decoration: none;
        color: #333;
        transition: all ease-in-out 0.3s;
}
footer .footer-links li:hover a {
        padding-right: 0.5rem;
        color: #2980b9;
}
footer .End {
        margin-bottom: auto;
}
